.burger_constructor {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 100%;
  overflow: hidden;
  color: var(--text-primary-color);
}

.bun {
  flex-shrink: 0;
  width: 100%;
  padding-right: 32px;
  padding-left: 32px;
}

.fillings {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  min-height: 0;
  margin: 16px 0;
  padding: 0;
  overflow: hidden auto;
  list-style-type: none;
}

.placeholder {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: calc(100% - 32px);
  min-height: 80px;
  margin: 16px 0;
  background-color: var(--background-element);
  border: 2px dashed transparent;
  border-radius: 40px;
  transition:
    border-color 0.15s ease,
    background-color 0.15s ease;
}

.placeholder_top {
  margin: 0 0 16px;
  border-radius: 88px 88px 40px 40px;
}

.placeholder_bottom {
  margin: 16px 0 0;
  border-radius: 40px 40px 88px 88px;
}

.placeholder_hover {
  background-color: rgb(76 76 255 / 15%);
  border-color: rgb(76 76 255 / 60%);
}

.total {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  align-self: flex-end;
  gap: 40px;
  padding-right: 16px;
}

.total_price {
  display: flex;
  align-items: center;
}
