.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.order_id {
  text-shadow:
    0 0 16px rgb(204 204 255 / 25%),
    0 0 8px rgb(204 204 255 / 25%);
}

.label {
  text-align: center;
}

.icon_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background: radial-gradient(rgb(74 74 240 / 50%) 0%, transparent 70%);
  border-radius: 50%;
}

.status {
  text-align: center;
}

.hint {
  text-align: center;
}
