.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.error {
  margin: 0;
  color: var(--colors-interface-error, #e52b1a);
  text-align: center;
}
